body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 210px;
    flex: 1;
    background-color: #1f2937;
    color: #f9faf8;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.awesome{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    flex: 1;
    height: 300px;
}

.left, .right{
    width: 455px;
}

.right{
    text-align: center;
    color: #e5e7eb;
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 10px;
}

.text{
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
}

.button{
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px 0px;
}

.information{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding: 10px;
}

.random{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    flex: 1;
}

.cards{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

.info{
    width: 160px;
}

.subtext{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.square{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 25px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px;
    flex: 1;
}

.quo{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.credit{
    text-align: right;
}

.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 32px;
    flex: 1;
    margin: 100px;
    border-radius: 10px;
}

.call{
    font-size: 20px;
    font-weight: bold;
}

.sign-up{
    border-radius: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    padding: 10px 20px;
}

.footer{
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 32px;
}